:root {
    --yellow: #ffc600;
}

body {
    background-image: url("https://jolly-kalam-23776e.netlify.app/restaurantwebsite/assets/images/topography.svg"), linear-gradient(110deg, #f93d66, #6d47d9);;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.container>div {
    width: 600px;
    font-size: 2em;
}

.Tacos {
    background-color: var(--yellow);
}

.Beers {
    background-color: var(--yellow);
}

.Wines {
    background-color: var(--yellow);
}

.Desserts {
    background-color: var(--yellow);
}

.Reservations {
    background-color: var(--yellow);
}

.Tacos {
    margin-right: 50px;
}

.Beers {
    margin-right: 50px;
}

.Wines {
    margin-right: 50px;
}

.Desserts {
    margin-right: 50px;
}

.hero {
    width: 770px;
    height: 400px;
    margin-bottom: 20px;
    background-image: url(https://jolly-kalam-23776e.netlify.app/restaurantwebsite/images/taco.jpg);
    background-size: cover;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-h1 {
    background-color: var(--yellow);
    margin: 0 0 5px 0;
    padding: 5px;
    letter-spacing: -1px;
    font-family: "Silkscreen";
}

.P-class {
    background-color: var(--yellow);
    margin: 0 0 5px 0;
    padding: 5px;
    letter-spacing: -1px;
    font-family: "Silkscreen";
}

.prices {
    display: flex;
    flex-direction: column;
}


.price1 {
    text-align: center;
    padding-top: 0%;
    position: absolute;
    left: 65%;
    top: 80px;
    background-color: var(--yellow);
    width: 290px;
    height: 180px;
    font-family: "Ubuntu", serif;
    font-size: 30px;

}

.price2 {
    text-align: center;
    padding-top: 0%;
    position: absolute;
    left: 1%;
    top: 190px;
    background-color: var(--yellow);
    width: 290px;
    height: 180px;
    font-family: "Ubuntu", serif;
    font-size: 30px;
}

.features {
    display: flex;
}

.Taco-feature {
    background-color: white;
    margin-right: 20px;
    text-align: center;
    font-family: Impact;
}

.Taco-feature span{
    font-size: 50px;
    color: var(--yellow);
}

.Beer-feature {
    background-color: white;
    margin-right: 20px;
    text-align: center;
    font-family: Impact;
}

.Beer-feature span{
    font-size: 50px;
    color: var(--yellow);
}

.Wine-feature {
    background-color: white;
    margin-right: 20px;
    text-align: center;
    font-family: Impact;
}

.Wine-feature span{
    font-size: 50px;
}

.Muisic-feature {
    background-color: white;
    margin-right: 20px;
    text-align: center;
    font-family: Impact;
}

.Muisic-feature span{
    font-size: 50px;
}

.about-Taco {
    background-color: white;
    margin-top: 20px;
    height: 250px;
    display: flex;
}

.about-Taco img {
    margin-left: 20px;
}

.about-Taco p {
    font-family: Impact;
}
.about-Taco button {
    background-color: var(--yellow);
    cursor: pointer;
}

.Instant-Grams p{
    font-family: Impact;
    margin-left: 550px;
}

.Instant-Grams img {
    padding-right: 20px;
}
